modules = ["python-3.11", "postgresql-16", "nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["bash", "docker", "docker-compose", "glibcLocales", "libxcrypt", "libyaml"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Dev Environment"
author = 41078776
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python sandbox_dev/dev_environment.py"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "AI Box Frontend"

[[workflows.workflow]]
name = "AI Box Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd services/frontend && npm start"
waitForPort = 3000

[[ports]]
localPort = 3000
externalPort = 4200

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 6333
externalPort = 3001

[[ports]]
localPort = 8001
externalPort = 3003

[[ports]]
localPort = 8002
externalPort = 3002

[[ports]]
localPort = 11434
externalPort = 3000
